* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  background: whitesmoke;
  font-family: sans-serif;
}
canvas {
  background: white;
  width: 95%;
  height: 90vh;
}
.topbar {
  display: flex;
  /* position: fixed; */
  background: #2e2e2e;
  padding: 0 10px;
  color: white;
}
.topbar span {
  padding: 5px 10px;
  background: white;
  color: black;
  border: 1px solid black;
}
.topbar a {
  padding: 5px 10px;
  background: white;
  color: black;
  border: 1px solid black;
}
.topbar span:hover {
  background: #ddd;
}
.topbar .selected {
  background: black;
  color: white;
  border: 2px solid white;
}
/* For any shape tools that need a live preview */
.placeholder {
  position: absolute;
  z-index: 999;
}
