#myapp {
  cursor: crosshair;
  border: 4px solid black;
  align-content: center;
  margin: auto;
  border-radius: 35px;
  background: white;
  color: black;
  margin: 1em;
  margin-top: 2em;
  padding: 1em;
  box-shadow: 20px 20px 60px #1f1a69, -20px -20px 60px #29238d;
}
:root {
  --menu-width: 37.5em; /* Width of menu */
  --items: 4; /* Number of items you have */
  --item-width: calc(var(--menu-width) / var(--items));
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #102eff, #d2379b);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

/* For any shape tools that need a live preview */
.placeholder {
  position: absolute;
  z-index: 999;
}

.toolbar {
  position: absolute;
  top: 0;
  background: white;
  width: 90%;
  margin: 10px auto;
  padding: 10px auto;
  border: 5px solid black;
  z-index: 8;
}
.btn {
  background: #ddd;
  border: 2px solid black;
}
.toolbar span,
.save {
  padding: 1em;
}
input.hide {
  display: none;
}

input[type="text"] {
  width: 50px;
}
form {
  display: inline;
}
